In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import pandas_profiling

In [8]:
ls

ACLED-Data-Columns_Quick-Reference_FINAL.pdf
ACLED1900-01-01-2020-12-09-Ethiopia.csv
ACLED_API_test.ipynb
ACLED_Codebook_2019FINAL_pbl.pdf
ACLED_User-Guide-for-Humanitarians_2019FINAL.pdf
AcledEvents.xls
conflict_data_eth.csv
conflict_data_eth_check.csv
errors.log
quick analysis conflict data.ipynb

In [9]:
df_conflict= pd.read_csv("conflict_data_eth.csv")
df_conflict.head()

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,NaN,NaN,#event+code,NaN,#date+occurred,#date+year,NaN,#event+type,NaN,#group+name+first,...,#loc+name,#geo+lat,#geo+lon,NaN,#meta+source,NaN,#description,#affected+killed,NaN,#country+code
1,7330171.0,231.0,ETH5780,5780.0,2020-12-04,2020,2.0,Violence against civilians,Attack,Military Forces of Ethiopia (2018-),...,Gimbi,9.1667,35.8333,1.0,Oromiya Media Network,International,"Around 4 December 2020 (as reported), 14 peopl...",14,1.607375e+09,ETH
2,7329896.0,231.0,ETH5779,5779.0,2020-12-03,2020,1.0,Battles,Armed clash,TPLF: Tigray Peoples Liberation Front,...,Mekele,13.5000,39.4667,2.0,BBC News,International,"On 3 December 2020, clashes were reported betw...",0,1.607375e+09,ETH
3,7329829.0,231.0,ETH5777,5777.0,2020-12-02,2020,1.0,Violence against civilians,Attack,Unidentified Ethnic Militia (Ethiopia),...,Gilgel Belles,11.1618,36.3440,2.0,Addis Standard,National,"On 2 December 2020, gunmen from an unidentifie...",0,1.607375e+09,ETH
4,7329897.0,231.0,ETH5778,5778.0,2020-12-02,2020,1.0,Battles,Armed clash,TPLF: Tigray Peoples Liberation Front,...,Mekele,13.5000,39.4667,2.0,BBC News,International,"On 2 December 2020, clashes were reported betw...",0,1.607375e+09,ETH

In [10]:
df_conflict.shape

(5660, 31)

In [11]:
# event identification columns are the first 4
#iso is a number to events where it has happened. useful to join tables

In [12]:
#df_conflict.profile_report()

In [13]:
df_conflict.describe()

,data_id,iso,event_id_no_cnty,time_precision,inter1,inter2,interaction,geo_precision,timestamp
count,5.659000e+03,5659.0,5659.000000,5659.000000,5659.000000,5659.000000,5659.000000,5659.000000,5.659000e+03
mean,6.100061e+06,231.0,2899.265241,1.130588,3.090475,3.015197,29.978972,1.382046,1.572540e+09
std,7.458247e+05,0.0,1672.246891,0.405532,2.180105,2.788804,20.054981,0.554874,1.399942e+07
min,4.554792e+06,231.0,1.000000,1.000000,1.000000,0.000000,10.000000,1.000000,1.552576e+09
25%,5.269476e+06,231.0,1446.500000,1.000000,1.000000,0.000000,13.000000,1.000000,1.561469e+09
50%,6.409598e+06,231.0,2904.000000,1.000000,2.000000,2.000000,17.000000,1.000000,1.576000e+09
75%,6.411200e+06,231.0,4351.500000,1.000000,6.000000,6.000000,55.000000,2.000000,1.576000e+09
max,7.330178e+06,231.0,5781.000000,3.000000,8.000000,8.000000,88.000000,3.000000,1.607375e+09